 <nav class = 'purple'>
    <div class="nav-wrapper container">
      <a href="#!" [routerLink]="['/']" routerLinkActive="router-link-active"  class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li [routerLink]="['/add']" style="cursor: pointer;" routerLinkActive="active" *ngIf="loggedIn" >Add</li>
        <li  style="cursor: pointer; margin-left: 20px;" routerLinkActive="active" (click) = "onLogout()" *ngIf="loggedIn" >Logout</li>
        <li  style="cursor: pointer; margin-left: 20px;" routerLinkActive="active"  *ngIf="loggedIn" >{{User.displayName}}</li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>